/* Global Styles */
*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'inter', sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    color: #333;

}

/* Header */
header {
    background: #07a3f8; 
    color: white;
    padding: 50px 10%;
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1000;
    
}


nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: color 0.3s, transform 0.3s;
   
}

nav a:hover{
    color: #07a3f8;
    transform: scale(1.1);
}

.ap{
    
    margin-bottom: 5px;
    margin-top: 5px;
}

.fp{
    
    margin-bottom: 5px;
    margin-top: 5px;
}

.co{
    
    margin-bottom: 5px;
    margin-top: 5px;
}
header h1 {
    margin: 0;
    font-size: 24px;
    margin-right: 60px;
}

.gite{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.or{
    margin-right: 50px;
}

.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background-color: black;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(50%);
}

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    text-align: center;
}

.titre{
    color: #fff;
    font-size: 4rem;
}

.slider-content p{
    color: #fff;
    font-size: 3rem;
}

.onepiece{
    width: 250px;
    height: 250px;
    display: block;
    background-color: #07a3f8;
    color: #fff;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    margin: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.pokemons{
    width: 250px;
    height: 250px;
    display: block;
    background-color: #07a3f8;
    color: #fff;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    margin: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.todolist{
    width: 250px;
    height: 250px;
    display: block;
    background-color: #07a3f8;
    color: #fff;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    margin: 50px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.todo{
    width: 100px;
    height: 100px;
}

.to{
    width: 250px;
    height: 250px;
}

.pokemon{
    width: 100px;
    height: 100px;
}



.pro article{
    text-align: center;
    background-color: #07a3f8;
    margin: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 10px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
   
   
   
}

.pro p{
    color: white;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
}

@keyframes reveal{
    from{
        transform: scale(0);
        opacity: 0;
    }

    to{
        transform: scale(1);
        opacity: 1;
    }
}



.ti{
    text-align: center;
    color: #07a3f8;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 20px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
    
}

.titre1{
    color: #07a3f8;
    text-align: center;
    margin-top: 50px;
}


.ti p{
    font-size: 30px;
}

.devenir{
    width: 2500px;
    height: 250px;
}

.com{
    display: flex;
    margin-left: 200px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

.com article{
    margin: 50px;
}


article h2 {
    font-size: 24px;
    color: black;
    padding-bottom: 5px;
    margin-bottom: 15px;
    text-align: center;
}

article img {
    max-width: 100%;
    border-radius: 10px;
    margin: 10px 0;
}

h2{
    margin-top: 5px;
}


article p {
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}



.article1{
    margin-bottom: 40px;
    background: #07a3f8;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
  
   
}


.article1:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article7{
    margin-bottom: 40px;
    padding-bottom: 20px;
    background: #07a3f8;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
   
   
}

.m{
    color: black;
}

.l{
    color: #fff;
}

.article9{
    margin-bottom: 40px;
    background: #07a3f8;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;

}

.article9:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.web{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.git{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.logo{
    width: 100px;
    height: 100px;
}

.article10{
    margin-bottom: 40px;
    background:white;
    border: #07a3f8 solid 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

.article10:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article7:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article8{
    margin-bottom: 40px;
    padding-bottom: 10px;
    background:white;
    border: #07a3f8 solid 10px;
    border-radius: 15px;
    margin-right: 15px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-left: 10px;animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
   
}

.article8:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: white;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    margin: 50px;
    border: #07a3f8 solid 10px;
    
} 

.can{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.sql{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.li{
    width: 50px;
    height: 50px;
}

.fe{
    width: 50px;
    height: 50px;
}

.git{
    width: 50px;
    height: 50px
}

.article2{
    margin-bottom: 40px;
    background:white;
    border: #07a3f8 solid 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    padding-bottom: 5px;animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
  
}

.article2:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article3{
    margin-bottom: 40px;
    background: #07a3f8;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-top: 10px;
    margin-right: 10px;animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
 
   
}

.article3:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article4{
    margin-bottom: 40px;
    background: white;
    border: #07a3f8 solid 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    margin-left: 10px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
   
}

.article4:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

ul{
    list-style: none;
}
.article5{
    margin-bottom: 50px;
    background: #07a3f8;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    padding-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}


.article5:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.article6{
    margin-bottom: 40px;
    background:white;
    border: #07a3f8 solid 10px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 450px;
    height: 450px;
    transition: transform 0.3s ease, filter 0.3s ease;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
    
}

.pro p{
    margin: 40px;
    left: 50px;
   
}
.article6:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.bil{
    
    width: 350px;
    height: 350px;
    float: right;
    margin-left: 10px;

}

.css{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    transition: transform 0.3s ease, filter 0.3s ease;
}



.php{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.re{
    width: 250px;
    height: 250px;
    margin-left: 100px;
}

.node{
    width: 250px;
    height: 250px;
    margin-left: 100px;
    
}

.js{
    width: 350px;
    height: 300px;
    margin-left: 50px;
}

.html{
    width: 250px;
    height: 250px;
    margin-left: 100px;
   
}

footer {
    background: #07a3f8;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    margin: 5px;
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

ul li a{
    list-style: none;
    color: #fff;
}

form {
    background-color: #07a3f8;
    margin-left: 750px;
    font-size: 10px;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
   
  }
  
  input, textarea, button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  


  input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s;
  }
  
  button:hover {
    background: #0056b3;
    transform: scale(1.05);
  }
#your-name{
    width: 250px;
    height: 150px;
}

.ht{
    width: 50px;
    height: 50px;
}

.cs{
    width: 50px;
    height: 50px;
}

.j{
    width: 50px;
    height: 50px;
}

.ve{
    width: 250px;
    height: 250px;
    
    
}

.ac{
    width: 250px;
    height: 250px;
    
}

.di{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    animation: reveal linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: contain 50%;
}

.di article{
    background-color: #07a3f8;
    color: #fff;
    display: block;
    text-align: center;
    transition: transform 0.3s ease, filter 0.3s ease;
    animation: slide linear;
    animation-timeline: view();
    animation-range-start: cover 0%;
    animation-range-end: cover 30%;
    margin: 50px;
}



.di article:hover{
    transform: scale(1.05);
    filter: brightness(1.1);
}

.dip{
    color: beige;
}

.con{
    color: beige;
}



@media only screen and (min-width: 600px) and (max-width: 1024px){

    .com article{
        margin-left: 250px;
        text-align: center;
        margin-top: 10px;
    }

    .article11{
        margin-bottom: 20px;
    }

    header{
        display: block;
        text-align: center;
    }

    header h1{
        margin-right: 30px;
    }

    nav{
        display: inline;

    }

    .grid-container{
        display: block;
    }

    .article1{
        margin-left: 150px;
    }

    .article2{
        margin-left: 150px;
    }

    .article3{
        margin-left: 150px;
    }

    .article4{
        margin-left: 150px;
    }

    .article5{
        margin-left: 150px;
    }

    .article6{
        margin-left: 150px;
    }

    .article7{
        margin-left: 150px;
    }

    .article8{
        margin-left: 150px;
    }

    .article9{
        margin-left: 150px;
        
    }

    .article10{
        margin-left: 150px;
        margin-bottom: 5px;
    }

    .ac{
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .ve{
        float: right;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        
    }

    h2{
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .ti{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
}

@media (max-width: 768px) {


    .ac{
        float: left;
        margin-right: 10px;
        width: 40px;
        height: 40px;
    }

    .ve{
        float: right;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        
    }
    .article11{
        margin-bottom: 20px;
    }


    header{
        display: block;
        text-align: center;
    }

    nav a{
        display: block;
    }

    .grid-container{
        display: block;
        text-align: center;
    }

    .article1{
        margin-left: 50px;
    }

    .article2{
        margin-left: 50px;
    }

    .article3{
        margin-left: 50px;
    }

    .article4{
        margin-left: 50px;
    }

    .article5{
        margin-left: 50px;
    }

    .article6{
        margin-left: 50px;
    }

    .article7{
        margin-left: 50px;
    }

    .article8{
        margin-left: 50px;
    }

    .article9{
        margin-left: 50px;
        
    }

    .article10{
        margin-left: 50px;
        margin-top: 5px;
    }

    .com{
        display: block;
    }

    .com article{
        margin-left: 250px;
        text-align: center;
        margin-top: 10px;
    }

    .com .article p {
        text-align: center;
    }

    h2{
        margin-bottom: 20px;
        margin-top: 5px;
    }
    .ti{
        margin-bottom: 20px;
        margin-top: 20px;
    }


    header h1{
        margin-right: 40px;
    }

    .pro{
        display: block;
    }

    .slider{
        width: 100%;
        min-height: 25vh;
        aspect-ratio: 16/9;
        background-color: black;
        position: relative;
    }

  
    
}
    
